.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section {
  display: flex;
  justify-content: center;
}

.increment {
  background-color: green;
  color: white;
}

.decrement {
  background-color: red;
  color: white;
}

.input[type=text] {
    width:fit-content

}